{{!-- 
	This is where the slider will go dont worry about fancy
	animations, just make it work. 
--}}
{{ view "widgets/sidebar_widget" }}
<div id="content_container">
	<h1>Content</h2>
	<p>Bacon ipsum dolor sit amet brisket sirloin pork chop chuck venison doner turducken tongue. Strip steak pork loin beef ribs, turducken chicken flank frankfurter kielbasa. Ribeye tail ball tip, flank doner filet mignon bresaola biltong spare ribs turducken landjaeger drumstick rump chuck. Tenderloin drumstick beef chicken tri-tip spare ribs kielbasa short ribs biltong bresaola flank t-bone ground round corned beef pastrami. Fatback kielbasa pork belly venison brisket shankle ground round tail pastrami rump chicken spare ribs flank. Pork chop salami pastrami sausage drumstick.</p>
</div>