<div id="widget">
{{#each stats }}
	<div class="stat">
		<p class="key">
		{{ key }} 
		</p>
	</br>
	<p class="val">
	{{ value }}
	</p>
	</div>
{{/each}}

 	<a class="prev"> < </a>
	<a class="next"> > </a>

</div>